
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>

<form action="" method="post">
    name: <input name="name" type="text">
    account: <input name="account" type="text">
    password: <input name="password" type="password">
    gender: <input name="gender" type="radio">male <input type="radio">female
    interest: <input name="it" type="checkbox">? <input name="it" type="checkbox">?? <input name="it" type="checkbox">???
    <textarea name="textarea" rows="10"  cols="30"></textarea>
    <input type="button" value="so sad" onclick="a()">
</form>
<script>
    function a() {
        for (i = 0; i < 50; i++) {
            alert('oh no!!');
        }
    }
</script>